torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
transformers>=4.39.3
tokenizers==0.15.2
huggingface-hub==0.23.0
datasets==2.17.1
sentencepiece==0.2.0
mamba-ssm==2.2.4
accelerate==0.27.2
causal-conv1d==1.5.0.post8
tqdm==4.66.2
numpy==1.24.3
packaging==23.1
psutil==5.9.5
pyyaml==6.0.1
safetensors==0.4.2
einops==0.7.0
deepspeed==0.13.1
mamba-ssm==2.2.4
